/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.prefilled-input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
}

.spinner {
  margin-top: 20px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4f46e5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.record-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.record-table th,
.record-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.record-table th {
  background-color: #f4f4f4;
}

.record-container {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.record-row {
  margin: 5px 0;
  font-size: 16px;
}

.generate-button,
.print-button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4f46e5;
  color: white;
}

.qr-code-preview {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }
  
  .record-table,
  .record-container {
    font-size: 14px;
  }

  .generate-button,
  .print-button {
    font-size: 14px;
    padding: 8px;
  }

  .record-row {
    font-size: 14px;
  }
}

.print-preview {
  text-align: center;
  /* padding: 20px; */
}

.record-info {
  font-size: 18px;
  margin: 10px 0;
}

.qr-code {
  margin-top: 5px;
}

.print-button, .back-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4f46e5;
  color: white;
}

.back-button {
  background-color: #aaa;
}
